<h1 class="title">Edit Tag</h1>

<form method="post" id="ct-form" class="form">
    <span class="label">Tag</span>
    <input name="tag" class="input" placeholder="Enter a tag name (spaces are not allowed)..." type="text" value="<%= tag.tag %>" />
    
    <span class="label">Label</span>
    <input name="label" class="input" placeholder="Enter the label for this Tag..." type="text" value="<%= tag.label %>" />

    <span class="label">Description</span>
    <textarea class="input" name="description"><%= tag.description %></textarea>

    <span class="label">Parent Tag</span>
    <div class="tags" id="tags-box"></div>
    <div id="tagsDropdown" class="inp-dropdown">
        <input autocomplete="off" id="tags" class="input" placeholder="Search for a tag..." type="text" />
        <div class="dropdown"></div>
    </div>

    <input type="hidden" id="parentTag" name="parent" value="<%= tag.parent.split('::')[0] %>" />
    <input type="hidden" name="id" value="<%= tag.id %>" />

    <p></p>
    <a id="editTag-btn" class="btn btn-primary btn-full-width"><span class="fa fa-plus-circle"></span> Save edits</a>
    <br /><br />
</form>